<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product App</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <div id="app">

            <div class="product">

                <div class="product-image">
                    <img :src="image">
                </div>

                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{ variant.variantColor }}</p>
                    </div>
                </div>

            </div>
        </div>

        <script src="vue.js"></script>
        <script src="script.js"></script>

    </body>

</html>